<!DOCTYPE html>
<html>
 {{ block "head" . }} {{partial "head.html" . }} {{end}}
  <body>
    <div class="w3-row">
      <!-- Left Menu bar  -->
      <div class="w3-sidebar w3-bar-block w3-quarter w3-left {{.Site.Params.nav_bg}}"
        id="mySidebar">
        {{ partial "nav.html" . }}
      </div>

      <!-- Right content section  -->
      <div class="w3-container w3-theme-l5 w3-threequarter w3-right" id="main">
        {{ partial "header.html" . }}
        {{ block "main" .   }}
        {{ end }}
        {{ partial "footer.html" . }}
      </div>
    </div>
  </body>
</html>
