{{ define "main"}}
<section>
  <div class="w3-container">
     <h1 style="font-family: 'Dancing Script', cursive;"> Thankyou for checking by.
       We are still on our road to discovery ! Meanwhile browse through our
       "quotes" section from left menu. Stay tuned for more...
     </h1>

     <div class="w3-row">
       <!-- <img src="images/bicycle-vintage-graphicsfairy11.jpg" class="w3-image"> -->
       <img src="images/day1.png" class="w3-image w3-half" alt="Man walking besides lamp post">
       <img src="images/day2.png" class="w3-image w3-half" alt="Women strolling her dog">
    <div>
  </div>
</section>

<!-- Newsletter Button-->
<a class="w3-button w3-jumbo w3-block w3-purple w3-ripple w3-hover-yellow w3-animate-fading"
  href="{{.Site.Params.Subscribe}}">
  Subscribe to Mailing List
</a>

<!-- Google Ad - homepage-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- homepage -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2357444200747970"
     data-ad-slot="1932901490"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Mailing List -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"531256bc9c767844eafc462b3","lid":"2780c21cd2"}) })</script>

{{ end}}
