{{ define "main"}}
<section>
  <div class="w3-container">
     <h1 style="font-family: 'Dancing Script', cursive;"> Thankyou for checking by.
       We are still on our road to discovery ! Meanwhile browse through our
       "quotes" section from left menu. Stay tuned for more...
     </h1>

     <div class="w3-row">
       <!-- <img src="images/bicycle-vintage-graphicsfairy11.jpg" class="w3-image"> -->
       <img src="images/day1.png" class="w3-image w3-col s6" alt="Man walking besides lamp post">
       <img src="images/day2.png" class="w3-image w3-col s6" alt="Women strolling her dog">
    <div>
  </div>
</section>
{{ end}}
