<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- meta tags partial -->

    <title>{{ .Site.Title }}</title>

    <!-- importable links as partial -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custome css to override default values -->
    <link href="/css/visuallydefine.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <nav class="navbar navbar-inverse" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://visuallydefine.com"><img alt="Brand logo" src="/images/logo.png"></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">Our Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div><!-- container-fluid-->
    </nav>
    <div class="jumbotron">
      <center>
        <h1>Visually Defined</h1>
        <i>where we expain everything visually</i>
      </center>
    </div>
