    <nav class="navbar navbar-inverse" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://visuallydefine.com"><img alt="Brand" src="images/logo.png"></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">Our Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div><!-- container-fluid-->
    </nav>
    <div class="jumbotron">
      <center>
        <h1>Visually Defined</h1>
        <i>where we expain everything visually</i>
      </center>
    </div>
