<br>
<footer class="w3-panel w3-round w3-light-grey w3-center">
  <p class="w3-text-grey">
    <i class="fa fa-exclamation-triangle"></i>
    Kindly note that, this work is in progress and would remain
    in porgress for sometime. Author thanks you for judging <i class="fa fa-thumbs-up"></i>
  </p>

  <a href="{{.Site.Params.author_url}}" class="w3-text-indigo">
    <b>avimehenwal 2018 <i class="fa fa-copyright"></i></b>
  </a><br>
  <p class="w3-wide w3-teal">{ Github + Beer } := Pure Love</p>
</footer>
