<!-- Generate hover class from config value -->
{{ $hover := printf "w3-hover-%s" .Site.Params.hover }}

<button class="w3-bar-item w3-button w3-large" onclick="w3_close()">
  Close  <i class="fa fa-times"></i>
</button>
<br>

{{ $currentPage := . }}
{{ range .Site.Menus.sidebar.ByWeight }}
  <a class="w3-bar-item w3-button w3-ripple {{$hover}} {{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }}w3-red{{end}}"
  href="{{ .URL }}" title="{{ .Name }}">
  {{if .Post}}
    {{.Pre}} {{.Name}} {{.Post}}
  {{else}}
    {{.Pre}} {{.Name}}
  {{end}}
  </a>
{{end}}

<!-- Todo: Accorded Sidebar Menu. Children aware  -->
