<!-- Generate hiver class from config value -->
{{ $hover := printf "w3-hover-%s" .Site.Params.hover }}

  <br>
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .Pre }}
      <a href="{{.URL}}" class="w3-bar-item w3-button w3-ripple {{$hover}}">
        {{.Pre}}      {{.Name}}</a>
    {{else}}
      <a href="{{.URL}}" class="w3-bar-item w3-button w3-ripple {{$hover}}">
        {{.Name}}    <i class="fa fa-caret-down"></i>
      </a>
    {{end}}
  {{end}}

  <!-- Add subitems to submenu -->
  {{ $currentPag := . }}
  {{ range where .Site.Pages "Section" $currentPag.Type }}
     <a href="{{.URL}}" class="w3-bar-item w3-button w3-ripple {{$hover}}"
       title="{{.Description}}">
       {{.Description | truncate 15}}
     </a>
  {{end}}


  <!-- Accordion -->
  <!-- <button onclick="myFunction('Demo1')" class="w3-btn w3-bar-item w3-hover-red">
    Quotes  <i class="fa fa-caret-down"></i>
  </button>
  <div id="Demo1" class="w3-container w3-hide">
    {{ range where .Site.Pages "Section" "quote" }}
       <a href="{{.URL}}" class="w3-bar-item w3-button w3-hover-yellow"
         title="{{.Description}}">
         {{.Description | truncate 15}}
       </a>
    {{end}}
  </div>


<!-- Click action javascript -->
<!-- <script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script> -->
