<!-- Previous and Next post buttons -->
<div class="w3-bar w3-border w3-round">

{{ with .PrevInSection }}
  <a href="{{ .Permalink }}"
    class="w3-button w3-round-large w3-theme-d4 w3-large w3-ripple w3-left">
    <i class="fa fa-arrow-left"></i> <b>PREVIOUS</b>
  </a>
{{ end }}
<!-- <a href="#" class="w3-button">&#10094; Previous</a> -->

{{ with .NextInSection }}
  <a href="{{ .Permalink }}"
    class="w3-button w3-round-large w3-theme-d4 w3-large w3-ripple w3-right">
    <strong>NEXT</strong> <i class="fa fa-arrow-right"></i>
  </a>
{{ end }}
<!-- <a href="#" class="w3-button w3-right">Next &#10095;</a> -->

</div>
